[submodule "AIMS-Back-End"]
	path = AIMS-Back-End
	url = https://github.com/mongsam2/AIMS-Back-End.git
[submodule "aims_classifier"]
	path = aims_classifier
	url = https://github.com/yeyechu/aims_classifier.git
